<div class="row marketing">
  <p>
    Migratron es un algoritmo automatizado para la elección de tratamiento en la migraña vestibular.
  </p>
</div>
<div class="row marketing">
  <label for="authors"> Authors: </label>
  <ul id="authors">
    <li>
      Dr. Emilio Domínguez Durán
      - <a href="https://twitter.com/emilienko">@emilienko</a>
      - <a href="mailto:emiliodominguezorl@gmail.com?Subject=About%20Migratron">emiliodominguezorl@gmail.com</a>
    </li>
  </ul>
  <label for="contributors"> Contributors: </label>
  <ul id="contributors">
    <li>
      Pablo Baños López
      - <a href="https://twitter.com/pbl86">@pbl86</a>
      - <a href="mailto:pablo.banos.lopez@gmail.com?Subject=About%20Migratron">pablo.banos.lopez@gmail.com</a>
    </li>
  </ul>
</div>
